<!DOCTYPE html>
<html>
<head>
    
</head>
<body data-fancy-form-rcs="1" data-form-style="minimal" data-form-submit="regular" data-header-resize="0">
    <div id="header-outer" class="transparent" style="padding-top: 30px;">
      <header id="top">
        <div class="container" style="visibility: visible;">
          <div class="row">
            <div class="col span_3">
              <a id="logo" href="http://www.iaastha.com/"><img src="../../assets/images/logo.png"></a>
            </div>
            <div class="col span_9 col_last">
              <nav>
                <ul class="sf-menu sf-js-enabled sf-arrows">
                <li id="menu-item-2131" class="menu-item menu-item-type-custom menu-item-object-custom button_solid_color menu-item-2131"><a href="#" >Employee Login</a></li>
              </ul></nav>
            </div>
          </div>
        </div>
      </header>
    </div>
    <div id="ajax-content-wrap" class="at-content">
    <div class="container-wrap" style="padding-top: 0px; padding-bottom: 0px; opacity: 1;">
    <div class="container">
    <div class="row">
      <div class="wpb_row vc_row-fluid full-width-section" style="padding: 115.75px 90px 40.25px; margin-left: -90px; visibility: visible;" data-top-percent="15%" data-bottom-percent="5%">
        <div>
          <div class="inner-wrap">
            <div class="row-bg using-image" style="background-image: url(../../assets/images/hero-alt-long2.jpg); background-position: right center; background-repeat: no-repeat; width: 1350px;height: 625px;" data-color_overlay="" data-color_overlay_2="" data-gradient_direction="" data-overlay_strength="0.3" data-enable_gradient="false"></div>
          </div>
        </div>
        <div class="col span_12 dark left">
          <div class="vc_col-sm-12 wpb_column column_container centered-text">
            <div>
              <div>
                <div class="wpb_text_column wpb_content_element ">
                  <div>
                    <h1 class="heading-fancy" style="color: #5f537d; text-align: center;">Login</h1>
                  </div>
                </div>
                <!-- <div class="wpb_text_column wpb_content_element  vc_custom_1539954268530" style=" max-width: 500px; display: inline-block;">
                  <div>
                    <p style="text-align: center; color: #7f7c8d;">
                      <a href="http://www.iaastha.com/">Sign up</a><br>or&nbsp;<a href="http://www.iaastha.com/">Reset Password</a>
                    </p>
                  </div>
                </div> -->
                <div class="wpb_row vc_row-fluid vc_row standard_section" style="padding-top: 0px; padding-bottom: 0px; ">
                  <div class="row-bg"></div>
                </div>
                <div class="col span_12  left">
                  <div class="vc_col-sm-4 wpb_column column_container vc_column_container col no-extra-padding instance-1" data-border-animation="" data-border-animation-delay="" data-border-width="none" data-border-style="solid" data-border-color="" data-bg-cover="" data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-hover-bg="" data-hover-bg-opacity="1" data-animation="" data-delay="0">
                    <div class="vc_column-inner">
                      <div class="wpb_wrapper"></div>
                    </div>
                  </div>
                  <div class="vc_col-sm-4">
                    <div>
                      <div>
                        <div class="wpb_raw_code">
                          <div>
                            <form>
                              <div class="minimal-form-input">
                                <label for="Email" style="text-align: left; font-weight: bold;">Email
                                 <!-- <span class="text"> 
                                <span class="text-inner" >Username<br>
                                </span>
                                </span>  -->
                                </label><br>
                                <!-- <span class="wpcf7-form-control-wrap"> -->
                                <input type="text" [(ngModel)]="email" name="email" placeholder="Email">
                                <!-- </span> -->
                              </div>
                              <div class="minimal-form-input">
                                <label for="password" style="text-align: left; font-weight: bold;">Password
                               <!--  <span class="text">
                                <span class="text-inner" >Password<br></span>
                                 </span> -->
                                </label><br>
                                <!-- <span class="wpcf7-form-control-wrap"> -->
                                <input type="password" [(ngModel)]="password" name="password" placeholder="Password">
                                <!-- </span> -->
                              </div>
                              <p class="login-btn" style="padding-bottom: 0px; margin-top: 50px">
                                <input type="submit" value="" (click)="login()">
                                
                              </p>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
</div></div></div></body>
</html>

